@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 ">Tims Diner</h1>
    <p class="lead">Welcome to Tims Diner!</p>
    <p class="lead"><a asp-action="Index" asp-controller="Food">Click here to see our menu.</a></p>
</div>
